* {
    box-sizing: border-box;
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.game-selection {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mode {
    cursor: pointer;
    margin: 24px 0;
}

.mode:hover {
    font-weight: 800;
}

#game-state {
    cursor: pointer;
}

main {
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    color: #2e016d;
}

header {
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    height: 30px;
    display: flex;
}

.row div {
    height: 30px;
    width: 30px;
    background-color: #7fd9e2;
    border-right: solid 4px #2e016d;
    border-bottom: solid 4px #2e016d;
    border-top: solid 4px white;
    border-left: solid 4px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.row .mine {
    background-color:#ffadb9;
}

.row .uncovered {
    background-color: white;
}

.row .flagged {
    background-color: #ffadb9;
}