* {
    box-sizing: border-box;
    margin: 0;
}

header {
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    height: 30px;
    display: flex;
}

.row div {
    height: 30px;
    width: 30px;
    /* margin: 2px; */
    background-color: aqua;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .mine {
    background-color: red;
}

.row .uncovered {
    background-color: gainsboro;
}

.row .flagged {
    background-color: green;
}